
.categoryTelephones{

  .container{

    .phone-cards{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 25px 0;
      column-gap: 20px;

      img{
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
        transition: 0.5s;

        &:hover{
          box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}